.navbar {
    background-color: #4bb7ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    display: flex;
}

body {
    padding-top: 80px;
}

.navbar-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-collapse {
    flex-basis: 100%;
}

.centerlogin {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
    margin: 0;
    margin-top : 125px;
}
.colortext {
    color: #4bb7ff;
    margin-bottom: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}
.textbox {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;

}
.button {
    background-color: #4bb7ff;;
    color: white;
    border: 2px solid #0077ff;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    width: 49%;
    line-height: 68px;
    height: 68px;

}

.button a {
    color: white;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    width: 100%;
}


.errortext{
    margin-top: 10px;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    color: #d00 ;
    display: block;
    text-align: center;
}
