.navbar {
    background-color: #4bb7ff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: fixed;
    padding: 20px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    justify-content: space-between;
    align-items: center;
    padding: 40px 20px;
    display: flex;
}

body {
    padding-top: 80px;
}

.navbar-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-toggler {
    margin-left: auto;
}

.navbar-collapse {
    flex-basis: 100%;
}

.centerlogin {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1;
    padding: 20px;
    margin: 0;
    margin-top : 125px;
}
.colortext {
    color: #4bb7ff;
    margin-bottom: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
}

.box {

    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50;
    background-color:   black;
    border-style:solid;
    border-color: gray;
    border-radius: 10px;
    border-width: 5;
    box-shadow: 1;
    color: white;
    align-items: center;
}

.imageBox{
    background-color:   black;
    border-color: black;
    border-radius: 50px;
    border-width: 4px;
    box-shadow: 1;
    border-style: solid;
    align-items: center;

}